.cargo
target/
vendor/
vendor.tar
debian/*
!debian/source
!debian/changelog
!debian/control
!debian/copyright
!debian/soryos-launcher.links
!debian/soryos-launcher.install
!debian/soryos-launcher-system76-power.install
!debian/rules